<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add title</title>
</head>
<body>
<div th:insert="~{menubar}"></div>
<div class="container text-center col-3 ">
            <form th:action="@{/book/add-title}" method="post">
                <label for="title" class="form-label">Add title:</label>
                <input type="text" name="title" class="form-control" id="title" required>
                <br>
                <label for="author" class="form-label">Add author:</label>
                <input type="text" name="author" class="form-control" id="author" required>
                <br>
                <label for="publisher" class="form-label">Add publisher:</label>
                <input type="text" name="publisher" class="form-control" id="publisher" required>
                <br>
                <label for="pages" class="form-label">Add the number of pages:</label>
                <input type="number" name="pages" class="form-control" id="pages" required>
                <br>
                <label for="genre" class="form-label">Genre:</label>
                <select id="genre"  class="form-select" name="genre">
                    <option value="NOVEL">Novel</option>
                    <option value="DETECTIVE">Detective</option>
                    <option value="ACTION">Action</option>
                    <option value="HISTORY">History</option>
                    <option value="HORROR">Horror</option>
                    <option value="BUSINESS">Business</option>
                    <option value="SPORT">Sport</option>
                    <option value="KIDS">Kids</option>
                    <option value="FANTASY">Fantasy</option>
                </select>
                <br>
                <label for="rating" class="form-label">Add a rating in your opinion:</label>
                <input type="text" name="rating" class="form-control" id="rating" required>
                <br>
                <label for="description" class="form-label">Описание:</label>
                <textarea name="description" class="form-control" id="description" required></textarea>
                <br>
                <br>
                <label for="image" class="form-label">Add a cover:</label>
                <input type="text" name="image" class="form-control" id="image" required>
                <br>
                <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
            </form>
</div>
</body>
</html>